.selectImg{
    width: 48px;
    height: 48px;
    border: 1px solid #ccc;
    border-radius: 33px;
}


body {
    padding-top: 20px;
    padding-bottom: 20px;
}

.navbar {
    margin-bottom: 20px;
}

.withdrawcell {
    display: inline-block;
    width: 11%;
    word-break: break-word;
}
.withdrawnumber {
    display: inline-block;
    width: 4%
}
.bgBlue{background:#15a4fa;}
.bgBlue:hover{background: #1ca8dd;color: #fff}

.record-detail{
    padding: 20px 15px 40px 15px;
    background-color: #efefef;
}
.record-detail-line{
    border-bottom: 1px solid darkgrey;
    min-height: 25px;
}