<div id="mainContent">

<div class="top">
    <div class="tx"><img src="http://img.wyxokokok.com/usercard/userlogo/2015/nineware_mbpic.png"/></div>
	<p class="empty"><a href="javascript:ewm_hide();"><i class="icon-ewm js-ewm"></i></a></p>
    
    <div class="nc">
    	<div style="font-size:22px; font-weight:700;">{{name}}<a style="margin-left:15px; font-size:14px; font-weight:normal;">{{title}}</a></div>
    </div>
</div>
	<!-- info -->
	<!--一键拨号-->
	
	<span class="swa_bohao rollin" id="bohao"><a href="tel:18888888888"><img src="./img/tel.png" title="一键拨号" /></a></span>
	
	<!--一键拨号end-->
	<ul class="lis">
		<a ><li id="gsmc"><img src="./img/ico-card.png" width="50"/>{{name}}</li></a>
		<a ><li><img src="./img/ico-mobile.png"/>{{mobile}}</li></a>
		<a ><li><img src="./img/ico-tel.png"/>{{phone}}</li></a>
		<a ><li><img src="./img/ico-fax.png"/>{{fax}}</li></a>
		<a ><li><img src="./img/ico-email.png"/>{{email}}</li></a>
		<a ><li><img src="./img/ico-qq.png"/>{{qq_no}}</li></a>
		<a ><li><img src="./img/ico-wx.png"/>{{wechat_no}}</li></a>
		<a ><li><img src="./img/ico-site.png"/>{{com_site}}</li></a>
		<a ><li></li></a>
	</ul>
</div>