	<style>
	    body {max-width: 750px; margin: 0 auto; background: #fff;font-family: 'Arial';}
	    .top {background: #888; height: 60px;}
	    .top p {font-size: 30px; color: #ff8000;text-align: center;line-height: 60px;}
	    
	    .h1 {font-size: 20px; font-weight: bold;line-height: 40px;}
	    .h2 {font-size: 18px; font-weight: normal;line-height: 40px;}
	    .h3 {font-size: 12px; font-weight: normal;line-height: 22px;}
	    .h4 {font-size: 10px; font-weight: normal;line-height: 22px;}
	    
	    .qqlabel {font-size: 16px; font-weight: bold; background: rgb(0, 124, 195); height: 34px; line-height: 34px; margin-bottom: 16px;margin-right: 0px;}
	    .lefticon {width: 34px;height: 34px; margin-left: -34px; float: left;}
	    .desclabel {font-size: 12px; font-weight: normal; padding-left: 6px; padding-right: 12px;word-break:break-all; color: #ddd;}
	    
	    .content1 {background: #fff; height: 340px;border: 1px #000 solid;margin-top: 10px;}
	    .content1 .left {display: block;float: left;width: 49%;height: 320px; margin: 0;}
	    .content1 li {list-style-type:none; margin-left: 40px;}
		
		.bottom {background:url('../img/0002_bottombg.jpg'); height: 69px;margin-top: 10px;}
	</style>

<div id="mainContent">
<div class="top">
    <p>{{com_name}}</p>
</div>

<div class="content1">
    <ul class="left">
	    <li><div style="height: 60px"></div></li>
	    <li><div class="h1">{{name}}<span class="h4" style="margin-left: 20px;">{{title_pos}}</span></div></li>
	    <li><div class="h2">{{com_name}}</div></li>
	    <li><div class="h3">传真号码: <span class="h3">{{fax}}</span></div></li>
		<li><div class="h3">公司网站: <span class="h3">{{com_site}}</span></div></li>
		<li><div class="h3">邮箱地址: <span class="h3">{{email}}</span></div></li>
		<li><div class="h3">公司地址: <span class="h3">{{com_addr}}</span></div></li>
	</ul>
	<div class="left">
		<div style="height: 340px;background-color: rgb(56, 64, 79); margin: 0 10px 0 30px;">
			<div style="height: 16px"></div>
			<img class="lefticon" src="../img/0002_qq.png"></img>
			<div class="qqlabel">{{qq_no}}</div>
			<img class="lefticon" src="../img/0002_wechat.png"></img>
			<div class="qqlabel">{{wechat_no}}</div>
			<img class="lefticon" src="../img/0002_mobile.png"></img>
			<div class="qqlabel">{{mobile}}</div>
			<img class="lefticon" src="../img/0002_tel.png"></img>
			<div class="qqlabel">{{phone}}</div>
			<p class="desclabel">{{desc}}</p>
		</div>
	</div>
</div>

<div class="content1">
    <div class="left">
	    <div style="height: 340px;background-color: rgb(56, 64, 79); margin: 0 10px 0 30px;">
	        <div style="height: 16px"></div>
			<img class="lefticon" src="../img/0002_qq.png"></img>
			<div class="qqlabel">{{qq_no}}</div>
			<img class="lefticon" src="../img/0002_wechat.png"></img>
			<div class="qqlabel">{{wechat_no}}</div>
			<img class="lefticon" src="../img/0002_mobile.png"></img>
			<div class="qqlabel">{{mobile}}</div>
			<img class="lefticon" src="../img/0002_tel.png"></img>
			<div class="qqlabel">{{phone}}</div>
			<p class="desclabel">{{desc}}</p>
		</div>
	</div>
	<ul class="left">
		<li><div style="height: 60px"></div></li>
    	<li><div class="h1">{{name}}<span class="h4" style="margin-left: 20px;">{{title_pos}}</span></div></li>
	    <li><div class="h2">{{com_name}}</div></li>
	    <li><div class="h3">传真号码: <span class="h3">{{fax}}</span></div></li>
		<li><div class="h3">公司网站: <span class="h3">{{com_site}}</span></div></li>
		<li><div class="h3">邮箱地址: <span class="h3">{{email}}</span></div></li>
		<li><div class="h3">公司地址: <span class="h3">{{com_addr}}</span></div></li>
	</ul>
</div>

<div class="bottom">
	<img style="float:left" src="../img/0002_slogon.png"></img>
	<img style="float:left" src="../img/0002_favorite.png"></img>
	<img style="float:left" src="../img/0002_save.png"></img>
	<img style="float:left" src="../img/0002_qrcode.png"></img>
</div>

<div style="height: 20px;"></div>

</div>