	<meta http-equiv="Content-type" name="viewport" content="initial-scale=0.5, target-densitydpi=high-dpi, maximum-scale=1.0, user-scalable=no, width=device-width">
	<style>
	    body {max-width: 750px; margin: 0 auto; background: #fff;font-family: 'Arial';}
	    
	    .h1 {font-size: 39px; font-weight: bold;line-height: 78px;}
	    .h2 {font-size: 25px; font-weight: normal;line-height: 50px;}
	    .h3 {font-size: 16px; font-weight: normal;line-height: 32px;}
	    .h4 {font-size: 11px; font-weight: normal;line-height: 22px;}
	    
	    .qqlabel {font-size: 16px; font-weight: bold; background: rgb(0, 124, 195); height: 34px; line-height: 47px; margin-bottom: 0px;margin-right: 0px;}
	    .lefticon {width: 45px;height: 59px; margin-left: -45px; float: left;}
	    .desclabel {font-size: 12px; font-weight: normal; padding-left: 6px; padding-right: 12px;word-break:break-all; color: #ddd;}
	    
	    .content1 {background: #fff; height: 450px;border: 1px #ccc solid;margin: 0px 0px 0px 0px;}
	    .content1 .left {display: block;float: left;width: 388;height: 450px; margin: 0;}
	    .content1 .right {display: block;float: left;width: 300;height: 450px; margin: 0;}
	    .content1 li {list-style-type:none; margin-left: 60px;}
		.footer {position:fixed;_position:absolute; bottom:0px; left:0px; width:750px; height:69px; background:url('../img/0002_footer_bg.jpg'); border:0px }
		
	</style>

<div id="mainContent">

<div class="content1">
    <ul class="left">
	    <li><div style="height: 95px"></div></li>
	    <li><div class="h1">　　{{name}}<span class="h4" style="margin-left: 20px;">{{title_pos}}</span></div></li>
	    <li><div class="h2">{{com_name}}</div></li>
	    <li><div class="h3">传真号码: <span class="h3">{{fax}}</span></div></li>
		<li><div class="h3">公司网站: <span class="h3">{{com_site}}</span></div></li>
		<li><div class="h3">邮箱地址: <span class="h3">{{email}}</span></div></li>
		<li><div class="h3">公司地址: <span class="h3">{{com_addr}}</span></div></li>
	</ul>
	<div class="right">
		<table width="326" border="0" cellspacing="0" cellpadding="0">
  <tbody>
    <tr>
      <td height="30" background="../img/back.png"></td>
    </tr>
    <tr>
      <td height="80" background="../img/back_cellphone.png">&nbsp;</td>
    </tr>
    <tr>
      <td height="80" background="../img/back_phone.png" ></td>
    </tr>
    <tr>
      <td height="80" background="../img/back_wechat.png"></td>
    </tr>
    <tr>
      <td height="80" background="../img/back_qq.png" ></td>
    </tr>
    <tr>
      <td height="80" background="../img/back.png"></td>
    </tr>
  </tbody>
</table>
	</div>
</div>

<div class="content1">
    <div class="right">
	    <table width="326" border="0" cellspacing="0" cellpadding="0">
  <tbody>
    <tr>
      <td height="30" background="../img/back.png"></td>
    </tr>
    <tr>
      <td height="80" background="../img/back_cellphone.png">&nbsp;</td>
    </tr>
    <tr>
      <td height="80" background="../img/back_phone.png" ></td>
    </tr>
    <tr>
      <td height="80" background="../img/back_wechat.png"></td>
    </tr>
    <tr>
      <td height="80" background="../img/back_qq.png" ></td>
    </tr>
    <tr>
      <td height="80" background="../img/back.png"></td>
    </tr>
  </tbody>
</table>
	</div>
	<ul class="left">
		<li><div style="height: 60px"></div></li>
    	<li><div class="h1">{{name}}<span class="h4" style="margin-left: 20px;">{{title_pos}}</span></div></li>
	    <li><div class="h2">{{com_name}}</div></li>
	    <li><div class="h3">传真号码: <span class="h3">{{fax}}</span></div></li>
		<li><div class="h3">公司网站: <span class="h3">{{com_site}}</span></div></li>
		<li><div class="h3">邮箱地址: <span class="h3">{{email}}</span></div></li>
		<li><div class="h3">公司地址: <span class="h3">{{com_addr}}</span></div></li>
	</ul>
</div>

<div class="footer">
	<img style="float:left" src="../img/0002_slogon.png"></img>
    <img style="float:left" src="../img/0002_favorite.png"></img>
    <img style="float:left" src="../img/0002_save.png"></img>
    <img style="float:left" src="../img/0002_qrcode.png"></img>
</div>


</div>