<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>无标题文档</title>
<style>
	    body {max-width: 750px; margin: 0 auto; background: #fff;font-family: 'Arial';}
	    .qqlabel {font-size: 16px; font-weight: bold; padding-left: 9px; padding-right: 9px; background-color: rgb(0, 124, 195);  }
		.qqrear{background-color: rgb(0, 124, 195); }
		.qqshadow {font-size: 12px; font-weight: normal; padding-left: 9px; padding-right: 9px;word-break:break-all; color: #ddd; background-color: rgb(56, 64, 79);  }
</style>  
</head>

<body>
<table width="326" border="0" cellspacing="0" cellpadding="0">
  <tbody>
    <tr>
      <td width="45" height="30"></td>
      <td class="qqshadow"  width="257" height="30"></td>
      <td width="24" height="30"></td>
    </tr>
    <tr>
      <td width="45" height="47"><img src="../img/0002_qq.png" width="45" height="47" alt=""/></td>
      <td class="qqlabel" width="257" height="47" >电话号码</td>
      <td class="qqrear" width="24" height="47"></td>
    </tr>
    <tr>
      <td width="45" height="33"></td>
      <td class="qqshadow"  width="257" height="33"></td>
      <td width="24" height="33" valign="top"><img src="../img/0002_delta.png" width="24" height="33" alt=""/></td>
    </tr>
    <tr>
      <td width="45" height="47"><img src="../img/0002_wechat.png" width="45" height="47" alt=""/></td>
      <td class="qqlabel" width="257" height="47"></td>
      <td class="qqrear" width="24" height="47"></td>
    </tr>
    <tr>
      <td width="45" height="33"></td>
      <td class="qqshadow"  width="257" height="33"></td>
      <td width="24" height="33" valign="top"><img src="../img/0002_delta.png" width="24" height="33" alt=""/></td>
    </tr>
    <tr>
      <td width="45" height="47"><img src="../img/0002_tel.png" width="45" height="47" alt=""/></td>
      <td class="qqlabel" width="257" height="47"></td>
      <td class="qqrear" width="24" height="47"></td>
    </tr>
    <tr>
      <td width="45" height="33"></td>
      <td class="qqshadow"  width="257" height="33"></td>
      <td width="24" height="33" valign="top"><img src="../img/0002_delta.png" width="24" height="33" alt=""/></td>
    </tr>
    <tr>
      <td width="45" height="47"><img src="../img/0002_mobile.png" width="45" height="47" alt=""/></td>
      <td class="qqlabel" width="257" height="47"></td>
      <td class="qqrear" width="24" height="47"></td>
    </tr>
    <tr>
      <td width="45" height="33"></td>
      <td class="qqshadow"  width="257" height="33"></td>
      <td width="24" height="33" valign="top"><img src="../img/0002_delta.png" width="24" height="33" alt=""/></td>
    </tr>
    <tr>
      <td width="45" height="90"></td>
      <td class="qqshadow"  width="257" height="90">产品介绍：微信推广服务、电子名片制作业务。<img src="../img/prd_exhibition.png" width="66" height="15" alt=""/></td>
      <td width="24" height="90"></td>
    </tr>
    <tr>
      <td width="45" height="10"></td>
      <td class="qqshadow"  width="257" height="10"></td>
      <td width="24" height="10"></td>
    </tr>
  </tbody>
</table>
</body>
</html>
