<div id="mainContent">

<div class="layout">
	<div class="wx-page">
		<div class="logo">
			<img src="../img/mp1.jpg"/>
		</div>
		<div class="name">
			<h2>{{com_name}}</h2>
			<h4>{{com_name_en}}</h4>
		</div>
		<div class="nav">
			<ul>
				<li class="bg1">
					<a href="#">
						<div class="ico">
							<img src="../img/mp24.png"/>
						</div>
						<h2>{{qq_no}}</h2>
					</a>
				</li>
				<li class="bg2">
					<a href="#">
						<div class="ico">
							<img src="../img/mp25.png"/>
						</div>
						<h2>{{wechat_no}}</h2>
					</a>
				</li>
				<li class="bg3">
					<a href="#">
						<div class="ico">
							<img src="../img/mp26.png"/>
						</div>
						<h2>{{mobile}}</h2>
					</a>
				</li>
				<li class="bg4">
					<a href="#">
						<div class="ico">
							<img src="../img/mp27.png"/>
						</div>
						<h2>简介＆优势</h2>
					</a>
				</li>
				<li class="bg5">
					<a href="#">
						<div class="ico">
							<img src="../img/mp28.png"/>
						</div>
						<h2>产品展示</h2>
					</a>
				</li>
				<li class="bg6">
					<a href="#">
						<div class="ico">
							<img src="../img/mp29.png"/>
						</div>
						<h2>联系我们</h2>
					</a>
				</li>
			</ul>
		</div>
		<div class="tools">
			<dl>
				<dd><a href="#"><img src="../img/mp22.png"/></a></dd>
				<dd><a href="#"><img src="../img/mp23.png"/></a></dd>
			</dl>
		</div>
	</div>
	<div class="footer-wp">
		<div class="footer">
        <div class="ico">
            <img src="../img/mp38.png"/>
        </div>
        <div class="text">
            <h4>蒲公英电子名片设计维护 </h4>
            <h2>拥有蒲公英拥有未来</h2>
        </div>
        <div class="nav">
            <ul>
                <li><a href="#"><img src="../img/mp35.png"/></a></li>
                <li><a href="#"><img src="../img/mp36.png"/></a></li>
                <li><a href="#"><img src="../img/mp37.png"/></a></li>
            </ul>
        </div>
    </div>
    </div>
    <!--//footer-->
</div>
</div>
