<style>
a{ color:#000;}
a:link{ color:#000;}
</style>

<div class="layout">
	<div class="header">
		<div class="left">
			<a href="#" class="ico-home">产品展示</a>
		</div>
		<div class="right">
			<a href="#" class="ico-share">分享</a>
		</div>
	</div>
	<div class="cards-wrap">
		<div class="card">
			<div class="text">
				<div class="name">
					<big>{{name}}</big>{{title_pos}}
				</div>
				<h2>{{com_name}}</h2>
				<dl>
					<dd>传真号码：{{fax}}</dd>
					<dd><a href="{{com_site}}">公司网站：{{com_site}}</a></dd>
					<dd><a href="mailto:{{email}}">邮箱地址：{{email}}</a></dd>
					<dd>地       址：{{com_addr}}</dd>
				</dl>
			</div>
			<div class="meta">
				<dl>
					<dd>
					<a href="http://wpa.qq.com/msgrd?v=1&uin={{qq_no}}">
						<i><img src="../img/mp2.png"/></i>
						<h2>{{qq_no}}</h2>
					</a>
					</dd>
					<dd>
					<i><img src="../img/mp3.png"/></i>
					<h2>{{wechat_no}}</h2>
					</dd>
					<dd>
					<a href="tel://{{phone}}">
						<i><img src="../img/mp4.png"/></i>
						<h2>{{phone}}</h2>
					</a>
					</dd>
					<dd>
					<a href="tel://{{mobile}}">
						<i><img src="../img/mp5.png"/></i>
						<h2>{{mobile}}</h2>
					</a>
					</dd>
				</dl>
				<div class="tip">{{desc}} <br/>
				<a href="#" class="more">产品展示</a>
				</div>
			</div>
		</div>
		<div class="card card2">
			<div class="text">
				<div class="name">
					<big>{{name_en}}</big>{{title_pos_en}}
				</div>
				<h2>{{com_name_en}}</h2>
				<dl>
					<dd>FAX：{{fax}}</dd>
					<dd><a href="{{com_site}}">Website：{{com_site}}</a></dd>
					<dd><a href="mailto:{{email}}">E-mail：{{email}}</a></dd>
					<dd>Address：{{com_addr_en}}</dd>
				</dl>
			</div>
			<div class="meta">
				<dl>
					<dd>
					<a href="http://wpa.qq.com/msgrd?v=1&uin={{qq_no}}">
						<i><img src="../img/mp2.png"/></i>
						<h2>{{qq_no}}</h2>
					</a>
					</dd>
					<dd>
					<i><img src="../img/mp3.png"/></i>
					<h2>{{wechat_no}}</h2>
					</dd>
					<dd>
					<a href="tel://{{phone}}">
						<i><img src="../img/mp4.png"/></i>
						<h2>{{phone}}</h2>
					</a>
					</dd>
					<dd>
					<a href="tel://{{mobile}}">
						<i><img src="../img/mp5.png"/></i>
						<h2>{{mobile}}</h2>
					</a>
					</dd>
				</dl>
				<div class="tip">{{desc_en}} <br/>
				<a href="#" class="more">More</a>
				</div>
			</div>
		</div>
	</div>
	<div class="footer-wp">
		<div class="footer">
			<div class="ico">
				<img src="../img/mp38.png"/>
			</div>
			<div class="text">
				<h4>蒲公英电子名片设计维护 </h4>
				<h2>拥有蒲公英拥有未来</h2>
			</div>
			<div class="nav">
				<ul>
					<li><a href="#"><img src="../img/mp35.png"/></a></li>
					<li><a href="#"><img src="../img/mp36.png"/></a></li>
					<li><a href="#"><img src="../img/mp37.png"/></a></li>
				</ul>
			</div>
		</div>
        </div>
		<!--//footer-->
</div>

